<h1 id="tableLabel">Designers</h1>

<p>Un bun designer are răbdare atunci când creează şi concepe un design unic, care să se potrivească cu cerinţele clientului. Printre cele mai importante caracteristici ale unui designer se numără şi posibilitatea vizualizării, creării şi a punerii în practică de noi idei</p>

<button class="btn btn-primary" [routerLink]="['/designer-add']">Add Designer</button>

<p *ngIf="!designers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="designers">
  <thead>
    <tr>
      <th>Nume</th>
      <th>Bio</th>
      <th>Skill</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let designer of designers">
      <td>{{ designer.nume }}</td>
      <td>{{ designer.bio }}</td>
      <td>{{ designer.skill }}</td>
      <td>{{ designer.email }}</td>

      <td><button class="btn btn-primary" (click)="deleteDesigner(designer)">delete</button></td>
      <td><a href="/designer-update?id={{designer.id}}" class="btn btn-primary">update</a></td>
    </tr>
  </tbody>
</table>
