<h1 id="tableLabel">Managers</h1>

<p>Managerul selectează personalul cu care va lucra pentru îndeplinirea sarcinilor planificate, gestionează întregul proces și controlează fiecare aspect al planului de activitate.</p>

<button class="btn btn-primary" [routerLink]="['/manager-add']">Adauga Manager</button>

<p *ngIf="!managers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="managers">
  <thead>
    <tr>
      <th>Nume</th>
      <th>Experienta</th>
      <th>Email</th>
      <th>Telefon</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let manager of managers">
      <td>{{ manager.nume }}</td>
      <td>{{ manager.experienta }}</td>
      <td>{{ manager.email }}</td>
      <td>{{ manager.telefon }}</td>

      <td><button class="btn btn-primary" (click)="deleteManager(manager)">delete</button></td>
      <td><a href="/manager-update?id={{manager.id}}" class="btn btn-primary">update</a></td>
    </tr>
  </tbody>
</table>
