<h1 id="tableLabel">PR</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" [routerLink]="['/PR-add']">Add PR</button>

<p *ngIf="!prs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="prs">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nume</th>
      <th>Varsta</th>
      <th>Experienta</th>
      <th>Skill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pr of prs">
      <td>{{ pr.id }}</td>
      <td>{{ pr.nume }}</td>
      <td>{{ pr.varsta }}</td>
      <td>{{ pr.experienta }}</td>
      <td>{{ pr.skill }}</td>

      <td><button class="btn btn-primary" (click)="deletePR(pr)">delete</button></td>
      <td><a href="/PR-update?id={{pr.id}}" class="btn btn-primary">update</a></td>
    </tr>
  </tbody>
</table>
