<h1 id="tableLabel">PR</h1>

<p>
  PRul se ocupă de imaginea firmei, de relația dintre aceasta și publicul ei, de felul în care ajung mesajele la public și analizează felul în care sunt percepute acestea. Pe scurt, PRul are grijă de reputația companiei.<br />
  Departamentul de PR este cel care lucrează împreună cu celelalte departamente astfel încât imaginea companiei să fie una pozitivă și relația acesteia cu publicul să fie una cât mai înfloritoare.
</p>
<button class="btn btn-primary" [routerLink]="['/PR-add']">Adaugă PR</button>
<br />
<p *ngIf="!prs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="prs">
  <thead>
    <tr>
      <th>Nume</th>
      <th>Varsta</th>
      <th>Experienta</th>
      <th>Skill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pr of prs">
      <td>{{ pr.nume }}</td>
      <td>{{ pr.varsta }}</td>
      <td>{{ pr.experienta }}</td>
      <td>{{ pr.skill }}</td>

      <td><button class="btn btn-primary" (click)="deletePR(pr)">delete</button></td>
      <td><a href="/PR-update?id={{pr.id}}" class="btn btn-primary">update</a></td>
    </tr>
  </tbody>
</table>
