<h1>Salut!</h1>
<p>
  Cu o experienta de peste 5 ani pe piata serviciilor digitale, agentia noastra este formata dintr-o echipa de profesionisti gata oricand sa se ocupe de proiectul tau si sa iti aduca rezultatele dorite.

  Fie ca vorbim de crearea unui website de prezentare care sa reflecte valorile companiei tale, de crearea unui magazin online optimizat si pregatit sa vanda, de o solutie web personalizata care sa iti eficientizeze afacerea sau de servicii de marketing online care sa iti puna afacerea pe harta prin promovare eficienta, suntem aici pentru tine.
</p>
<ul>
  <li><a href='https://get.asp.net/'><b>Content</b></a> - productie video, editare, sound, reels, igtvs, stories</li>
  <li><a href='https://angular.io/'><b>Marketing</b></a> - strategie, SEO, publicitate, PPC, email marketing</li>
  <li><a href='http://getbootstrap.com/'><b>Design</b></a> - UI/UX design, branding, design website, design aplicatii mobile</li>
</ul>
<br />
<br />
<p><b>Intrebari frecvente (FAQ):</b></p>
<ul>
  <li>
    <strong>De ce sa lucrez cu BandiMedia?</strong>
    <p>Cu peste 5 ani de experienta pe piata serviciilor digitale, avem peste 250 de proiecte duse la bun sfarsit pentru clienti din 12 tari. Scopul nostru este sa livram servicii digitale de calitate pentru a crea parteneriate pe termen lung. Ne aliniem nevoilor tale, avand un scop comun – sa ne dezvoltam businessurile impreuna.</p>
  <li>
    <strong>Cum veti aborda proiectul meu?</strong>
    <p>Ne dorim sa cream parteneriate durabile cu toti clientii nostri. De aceea, inainte sa incepem orice proiect, incercam sa intelegem nevoile businessului tau. Planificam cu atentie obiectivele si strategia prin care vor fi atinse, apoi trecem la partea de executie. In final, testam, observam si imbunatatim pentru a ne asigura ca ne aliniem unui singur scop – acela de a-ti aduce rezultate.</p>
  <li>
    <strong>Exista un buget minim cu care lucrati?</strong>
    <p>Incercam sa ne adaptam oricarui tip de afacere. Astfel, nu putem spune ca avem un buget minim predefinit, cat timp obiectivele tale sunt realiste si nu suntem fortati sa ne abatem de la valorile noastre.</p>
  <li><strong>Are businessul meu nevoie de automatizare?</strong>
      <p>Automatizarea proceselor de munca este indispensabila oricarei companii care doreste sa isi sporeasca eficienta. Combinata cu decizii de business potrivite, bazate pe research si date, automatizarea afacerii tale te va pozitiona cu siguranta in fata competitiei.</p>
</ul>
<br />
<br />
<p>
  <b>Inca ai îndoieli cu privire la colaborarea cu noi?</b><br />
  Contacteaza-ne si vom clarifica tot ce trebuie sa stii inainte de a va începe proiectul.
</p>
