<h1 id="tableLabel">Marketers</h1>

<p>Un marketer bun nu are nevoie să manipuleze clientul pentru a cumpăra un produs, produsul se vinde singur, iar marketerul îl promovează efectiv, ajungând la un public interesat și gata de acțiune.</p>

<button class="btn btn-primary" [routerLink]="['/marketer-add']">Adauga Marketer</button>

<p *ngIf="!marketers"><em>Loading...</em></p>
<br />
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="marketers">
  <thead>
    <tr>
      <th>Nume</th>
      <th>Skills</th>
      <th>Email</th>
      <th>Telefon</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marketer of marketers">
      <td>{{ marketer.nume }}</td>
      <td>{{ marketer.skills }}</td>
      <td>{{ marketer.email }}</td>
      <td>{{ marketer.telefon }}</td>

      <td><button class="btn btn-primary" (click)="deleteMarketer(marketer)">delete</button></td>
      <td><a href="/marketer-update?id={{marketer.id}}" class="btn btn-primary">update</a></td>
    </tr>
  </tbody>
</table>
